.fraunces-bold {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-normal {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-style: normal;
}
